{% extends 'front.html.twig' %}
{# on vient charger le template #}
{# AUCUN CODE HTML en dehors des block twig #}

{% block titre %} Liste - {{ parent() }} {% endblock %}
{# avec parent je recupere le contenu du bloque parent #}

{% block central%} 
    <h1 id="wishes">Wishes</h1>
   
{% endblock %}

{% block contenu %}
    {# message flash #}

    {% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="alert-{{ label }}">{{ message }}</div>
    {% endfor %}
    {% endfor %}

<div class="tab_wishes">
 <table class="table table-dark table-striped" >
   <tbody>
   {% for w in wishes %}

     <tr>
       <td>{{ w.title }}</td> 
       <td>{{ w.description }}</td>
       <td>{{ w.author }}</td>
       <td>{{ w.getDateCreated|date("d/m/Y") }}</td>
       <td><button class="btn btn-danger" id="myBtn">enlever</button>
           <div id="myModal" class="modal">

               <!-- Modal content -->
               <div class="modal-content">
                   <span class="close">&times;</span>
                   <p>Etes vous sûr de vouloir supprimer?</p>
                   <a href="{{ path('enlever', {id:w.id}) }}" class="btn btn-danger" >enlever</a>
               </div>

           </div>
       </td>
        <td><a href="{{ path('modifier', {id:w.id}) }}" class="btn btn-danger">modifier</a></td>

     </tr>

     {% endfor %}
   <script src="{{ asset('javascript/modal.js') }}"></script>
   </tbody>
 </table>
 </div>

{% endblock %}